.articles div {
  width: 100%;
  background-color: $articleBoxColor;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 10px;
  box-shadow: $boxShadow;
  h2, span.date, p {
    width:80%;
    margin: 6px 0 6px 25px;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 20px;
    cursor: pointer;
  }
  span.readMore {
    display: block;
    font-size: .7em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: $readMoreTextColor;
    cursor: pointer;
    margin-top: 5px;
  }
  span.date {
    font-size: .8em;
    color: $dateTextColor;
    display: inline-block;
    width: 80%;
  }
  p {
    font-size: .7em;
    color: #323232;
  }
}

// MEDIA QUERIES

//MEDIA TABLET
@media only screen and (min-width: 768px) {
  .articles div {

      h2 {
        font-size: 1.3em;
        margin-top: 20px;
      }
  }
  div.aOne, div.aTwo {
    width: 47.5%;
    min-height: 300px;
    margin: 10px 5px 10px 5px;
  }
  div.aThree {
    width: 99%;
    margin: 4px;
  }
}
//KEYFRAME ANIMATION

span.bracket {
  font-weight:600;
  // overflow:hidden;
  height:40px;
  padding:0 40px;
  &:hover {
    transform: scale(1.2);
  }

  &:before {
    content:'[ ';
    left: 0;
    // line-height:40px;
  }
  &:after {
    content:']';
    left: 0;
    right: 0;
    // line-height:40px;
    padding-left: 4px;
  }
  &:after, &:before {
    position:relative;
    top:0;
    color: $navBoxColor;
    font-size:1rem;
  }
}
span.bracket:hover:before {
  animation: move-left 0.5s linear alternate infinite;
}
span.bracket:hover:after {
  padding-left: 0;
  animation: move-right 0.5s linear alternate infinite;
}

@keyframes move-left {
  0%   {left: 5px;}
  100%  {right: 5px;}
}
@keyframes move-right {
  0%   {right: 5px;}
  100%  {left: 5px;}
}


//MEDIA DESKTOP

@media only screen and (min-width: 1100px) {

  .articles {
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
  }

  .articles div {
    width: 32%;
    min-height: 355px;
    max-height: 400px;
    margin: 10px 5px 10px 5px;
      h2 {
        font-size: 1.2em;
      }
  }
}
