// TOP NAV
.top {
  display: inline-block;
  width: 100%;
}
header span {
  width: 100%;
  margin-top: 10px;
  height: 100%;
  color: $mainTextColor;
  display: inline-block;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: $navBoxColor;
    font-weight: bolder;
  }
}
// DOTS
ul.dots {
  display: inline-block;
  list-style-type: none;
  display: none;
  padding-right: 5px;
  li {
  line-height: 6px;
  color: white;
  padding: 0;
  }
}
// SOCIAL
ul.social {
  width: 100%;
  margin: 8px 0 0 0;
  height: 50px;
  padding: 0;
  display: inline-block;
  text-align: center;
}
.social li {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  margin: 0;
  box-shadow: $boxShadow;
  &:hover {
    box-shadow: $boxShadowInset;
  }
  a {
    text-decoration: none;
    display: inline-block;
    color: $mainTextColor;
    width: 100%;
    height: 50px;
    margin: 0;
  }
}
.social {
  img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    opacity: 0.5;
    margin-top: 9px;
  }
  li.fbk {
    background-color: #455995;
  }
  li.rss {
    background-color: #ca8f3c;
  }
  li.twt {
    background-color: #6c8dc6;
  }
  li.ytb {
    background-color: #b03932;
  }
}

// MAIN NAV
nav {
  margin: 20px auto 10px auto;
  ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  li {
    width: 99%;
    height: 60px;
    margin: 0 2.5px 15px 2.5px;
    background-color: $navBoxColor;
    list-style-type: none;
    text-align: center;
    box-shadow: $boxShadow;
    &:hover {
      box-shadow: $boxShadowInset;
    }
  }
  a {
    text-decoration: none;
    display: inline-block;
    color: $mainTextColor;
    font-weight: bold;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 20px;
  }
}
nav a {
  &:hover {
    transform: scale(1.2);
    text-shadow: 0 3px red;
  }

  &:before {
    content:'– ';
    left: 0;
  }
  &:after {
    content:' –';
    left: 0;
    right: 0;
  }
  &:after, &:before {
    position:relative;
    top:0;
    color: $mainTextColor;
    font-size:1rem;
  }
}

nav a:hover::after {
  padding-left: 0;
  animation: move-right 1s linear infinite;
}
nav a:hover::before {
  padding-right: 4px;
  animation: move-left 1s linear infinite;
}



// TOP IMG
//GRID
img.grid-image {
  z-index: 3;
  width: 150%;
  opacity: 0.3;
}
div.imgScroll {
  border: $mainBorder;
  box-shadow: $boxShadow;
  width: 93%;
  height: 290px;
  margin: 5px auto 40px auto;
  background-image: url(assets/top-grind.jpg);
  background-size: cover;
  div.scroll-box {
    height: 290px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: 0;
    }
  }
  img.num0 {
    width: 100%;
    height: 100%;
  }
  img.num1 {
    width: 100%;
    height: 100%;
  }
  img.num2 {
    width: 150%;
    height: 130%;
  }
}
.logo img {
  height: 200px;
  position: absolute;
  width: 280px;
  margin: 4rem 1.8rem;
  z-index: 10;
}
div.circles {
  height: 20px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  display: inline-block;
  label {
    display: inline-block;
    position: relative;
    width: 7px;
    height: 7px;
    margin: 3px;
    border: 7px solid white;
    border-radius: 50%;
    background-color: white;
    box-shadow: $boxShadow;
    cursor: pointer;
  }
}

//KEYFRAME ANIMATIONS
//IMAGE SCROLL FADE
.scroll-box .scroll-img {
  position: absolute;
	opacity: 0;
	-webkit-animation: image-fade 15s linear infinite;
	-moz-animation: image-fade 15s linear infinite;
	-ms-animation: image-fade 15s linear infinite;
	animation: image-fade 15s linear infinite;
}

scroll-box img.num0 {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-ms-animation-delay: 5s;
	animation-delay: 5s;
}
.scroll-box img.num1 {
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}

@-webkit-keyframes image-fade {
    0%, 40%, 100% { opacity: 0; }
    5%, 33% { opacity: 1;}
}
@-moz-keyframes image-fade {
    0%, 40%, 100% { opacity: 0; }
    5%, 33% { opacity: 1;}
}
@-ms-keyframes image-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 33% { opacity: 1;}
}
@keyframes image-fade {
  0%, 40%, 100% { opacity: 0; }
  5%, 33% { opacity: 1;}
}

// INDICATOR CIRCLES
label {
  -webkit-animation: indicator 15s infinite;
  -moz-animation: indicator 15s infinite;
  -ms-animation: indicator 15s infinite;
  animation: indicator 15s infinite;
}

label.num1 {
  -webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-ms-animation-delay: 5s;
  animation-delay: 5s
}
label.num2 {
  -webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-ms-animation-delay: 10s;
  animation-delay: 10s
}

@-webkit-keyframes indicator {
  0%, 40%, 100% { background-color: white; }
  5%, 33% { background-color: $navBoxColor;}
}
@-moz-keyframes indicator {
  0%, 40%, 100% { background-color: white; }
  5%, 33% { background-color: $navBoxColor;}
}
@-ms-keyframes indicator {
  0%, 40%, 100% { background-color: white; }
  5%, 33% { background-color: $navBoxColor;}
}
@keyframes indicator {
  0%, 40%, 100% { background-color: white; }
  5%, 33% { background-color: $navBoxColor;}
}

//MEDIA QUERIES

@media only screen and (min-width: 768px) {
  .top {
    width: 100%;
    text-align: right;
  }
  nav {
    width: 110%;
    margin-left: -20px;
  }
  nav ul li {
    width: 23.4%;
    display: inline-block;
    a {
      font-size: 0.6em;
      margin-top: 20px;
    }
  }
  ul.dots {
    display: inline-block;
  }

  .top span, ul.social {
    width: auto;
  }
  .top span {
    margin-top: 20px;
    margin-right: 35px;
  }
}
