// TEXT
$mainTextColor: white;
$dateTextColor: gray;
$readMoreTextColor: #b4292e;
$formTextColor: gray;
$articleTextColor: #5c5c5c;
// BORDER
$mainBorder: 6px solid white;
$skaterBorder: 4px solid white;
// BOX SHADOW
$boxShadow: 0 4px 0 rgba(255, 255, 255, 0.3);
$boxShadowInset: inset 0 0 0 3px rgba(255,255,255,0.3);
// BOX COLOR
$navBoxColor: #b4292e;
$borderMain: white; /* offwhite for articles and form */
$articleBoxColor: #f9fffa;
$hoverGradient: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
