// TEXT
$mainTextColor: white;
$dateTextColor: gray;
$readMoreTextColor: #b4292e;
$formTextColor: gray;
$articleTextColor: #5c5c5c;
// BORDER
$mainBorder: 4px solid white;
$skaterBorder: 2px solid white;
// BOX SHADOW
$boxShadow: 0 10px rgba(0, 0, 0, 0.2);
// BOX COLOR
$navBoxColor: #b4292e;
$borderMain: white; /* offwhite for articles and form */
$articleBoxColor: #f9fffa;
