body {
  background-color: black;
}
.back {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(assets/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-content {
  width: 93%;
  margin: 0 auto;
  z-index: 3;
}

@import "variables";
@import "header";
@import "articles";
@import "skaters";
@import "boards";
@import "footer";
@import "media-query";
